html{
  font-family: Arial, Helvetica, sans-serif;
}

.border{
  border-style: solid;

}

.header{
  display: flex;
  justify-content: center;
  background-color: darkblue;
  color: white;
  
}


.right{
display: inline-block;
width: 600px; 
}

.left{
display: inline-block;
width: 300px;
}

.card{
  background-color: navy;
  color: whitesmoke;
  width: 100px;
  display: inline-block ;
}

#cards{
  display: flex;
  /* width: 100%; */
}